.calendar-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc {
  width: 100%;
  height: 100%;
}

.fc-button {
  background-color: yellow;
  border-color: yellow;
}

.fc-button:hover {
  background-color: #ffd700;
  border-color: #ffd700;
}

.add-event-button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: yellow;
  border: none;
  cursor: pointer;
}

.add-event-button:hover {
  background-color: #ffd700;
}