/* src/styles/App.css */
* {
    margin: 0;
    padding: 0;


  }

  .section {
    padding: 50px 20px;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fdfdfd;
  }
 
  html {
    scroll-behavior: smooth;
  }
  