.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-section {
    margin: 0;
    overflow-x: hidden;
    padding: 15rem 4rem 17rem 4rem;
    text-align: center;
    background-color: var(--black);
    border-bottom-right-radius: 20%;
}

.home-section h1 {
    color: var(--white);
    font-size: 2.6rem;
}

.home-section p {
    color: var(--white);
}

.get-started-btn {
    background-color: var(--rich-yellow);
    color: var(--black);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 14rem;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1.6rem;
}

@media (max-width: 440px) {
    .home-section {
        border-bottom-right-radius: 4rem;
    }
}

@media (min-width: 441px) and (max-width: 810px) {
    .home-section {
        padding-bottom: 14rem;
    }
}