.sidebar-container {
    width: 16vw;
    height: 100vh;
    background-color: var(--grey);
    padding: 0 1rem;
    display: grid;
    grid-template-rows: 30% 1fr auto;
    gap: 1rem;
}

.small-calendar {
    background-color: white;
    margin-top: 1rem;
}

.sidebar-sections {
    display: flex;
    flex-direction: column;
}

.sidebar-section h3 {
    font-size: 1vw;
    font-weight: 500;
    color: var(--dark-grey);
    padding-left: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.icon-and-link {
    padding-left: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-weight: 500;
    color: var(--dark-grey);
    text-decoration: none;
}

.sidebar-section h3:hover,
.icon-and-link:hover,
.icon-and-link.active {
    cursor: pointer;
    background-color: var(--grey-v2);
    color: var(--black);
    fill: var(--black);
    border-radius: 4px;
}

.icon-and-link:hover .sidebar-icon,
.icon-and-link.active .sidebar-icon {
    fill: var(--black);
}

.arrow-icon {
    fill: var(--dark-grey);
}

.sidebar-settings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-icon {
    fill: var(--dark-grey);
    padding-right: 0.2rem;
}

#log-out-section {
    font-size: 1vw;
    font-weight: 500;
    color: var(--red);
    padding-left: 0.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

#log-out-section:hover {
    background-color: #FBE4E4;
}

#log-out-icon {
    fill: var(--red);
    padding-right: 0.2rem;
}